@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END RESET */

html {
	font-size: 62.5%;

}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.8rem;
	background: url('../img/light-grey-terrazzo.png') repeat;
}

h1, h2 {
	margin-bottom: 10px;
	padding: 5px;
	background-color: white;
	font-size: 2.3rem;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Fugaz One', sans-serif;

}

h2 {
	font-size: 2rem;
	margin: 10px 0;
}

h3 {
	margin-bottom: 5px;
	font-family: 'Fugaz One', sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 1.6rem;
}

p {
	margin-bottom: 10px;
}

a, a:visited {
	color: crimson;
	font-weight: bold;
	text-decoration: none;
}

a:hover, a:active {
	color: white;
}

nav {
	display: flex;
	flex-direction: column;
}

nav a, nav a:visited {
	display: inline-block;
	width: 100%;
	margin: 5px 0;
	padding: 2% 0;
	border: 1px solid crimson;
	border-radius: 5px;
	background-color: crimson;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-weight:bold;
}

nav a:nth-of-type(2) {
	background-color: white;
	color: crimson;
	border: 1px solid crimson;
}

nav a:hover, nav a:active, .img-banner button:hover, .img-banner button:active {
	color: black;
	background: white;
	border-color: black;
}

footer {
	padding: 20px 0;
	font-size: 1.4rem;
	text-align: center;

}

footer a:hover, footer a:active{
	color: black;
	text-decoration: underline;
}

.container {
	width:90%;
	min-width: 300px;
	max-width: 1000px;
	margin: 0 auto;

}

.headline1-tag-box {
	margin: 15px 0;
	
}

.tagline {
	font-style: italic;
	font-size: 1.4rem;
	font-weight: bold;
	text-align: center;
}

.main {
	width:100%;
	margin-bottom:20px;
	padding: 10px 0;
	border-top: 1px dotted black;
	border-bottom: 1px dotted black;

}

.img-banner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%; 
	height: 406px;
	background: url('../img/troll-xing-crop-1000-gs.jpg') black center no-repeat;
	margin-bottom: 10px;
	border: 2px solid black;
}

.img-banner button {
	margin-bottom: 20px;
	padding:15px 50px;
	max-width: 200px;
	background: crimson;
	border: 1px solid crimson;
	border-radius: 5px;
	color: white;
	font-size: 1.6rem;
	font-weight: bold;
	text-transform: uppercase;
}

.intro-text {
	padding:10px;
	background: black;
	color: white;
	font-size: 2rem;
	opacity: 0.8;
}

.intro-text p:first-of-type {
	font-size: 3.5rem;
	font-family: 'fugaz one', sans-serif;
}

/*START CONTACT PAGE ITEMS*/
.team-box {
	margin: 10px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.member {
	display:flex;
	flex-direction: column;
	margin: 10px;
	background-image: url('https://picsum.photos/300/200');
	border: 2px solid black;
	width:300px;
	height: 360px;
}

.member-info {
	display:flex;
	flex-direction: column;
	width: 290px;
	height: 50px;
	padding:5px;
	background: black;
	color: white;
}

.abhit {
	background: url('../img/avatar/abhit-300.jpg');
}

.brian {
	background: url('../img/avatar/brian-300.jpg');	
}

.evidence {
	background: url('../img/avatar/evidence-300.jpg');	
}

.julia {
	background: url('../img/avatar/julia-300.jpg');	
}

.mike {
	background: url('../img/avatar/mike-300.jpg');	
}

.nadia {
	background: url('../img/avatar/nadia-300.jpg');	
}

.robert {
	background: url('../img/avatar/robert-300.jpg');	
}

.sam {
	background: url('../img/avatar/sam-300.jpg');	
}

.sanjay {
	background: url('../img/avatar/sanjay-300.jpg');	
}

.member-info a {
	font-size: 3rem;
}

.social-box {
	align-self: flex-end;
}

/*END CONTACT PAGE IIEMS*/

@media(min-width: 400px) {
	/* .img-holder {
		display: block;
	} */

	h1 {
		font-size: 3rem;
		text-align: center;
	}

	.tagline {
		text-align: center;
	}

	nav {
		flex-direction: row;
		justify-content: space-between;
	}
	nav a {
		width: 30%;
		margin: 15px 0;

	}
	.team-box {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
}

@media(min-width:800px) {
	header { 
		display: flex;
		justify-content: space-between;
	}

	h1, h2, .tagline {
		text-align: left;
	}

	nav {
		width: 45%;
		padding:0;
		align-items: flex-end;

	}

	nav a {	
		font-size: 1.2rem;			
	}


}